# Site settings
title: "(:dev/notes vlaaad)"
description: ""
baseurl: ""
url: ""

# Build settings
markdown: kramdown
include:
  - _pages

# Assets
sass:
  sass_dir: _sass
  style: compressed

# Gems
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-seo-tag

# Permalinks
permalink: /:title
paginate: 5

# Excludes
exclude: [ Gemfile, Gemfile.lock, tale.gemspec ]