/*

    Name:       Base16 Mocha Dark
    Author:     Chris Kempson (http://chriskempson.com)

    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)

*/
.highlight .hll { background-color: #645240 }
.highlight  { background: $grey-2; color: #0e0c0c }
.highlight .c { color: #4e4638 } /* Comment */
.highlight .err { color: #7a3847 } /* Error */
.highlight .k { color: #61586d } /* Keyword */
.highlight .l { color: #6d4739 } /* Literal */
.highlight .n { color: #888380 } /* Name */
.highlight .o { color: #426859 } /* Operator */
.highlight .p { color: #85807f } /* Punctuation */
.highlight .cm { color: #a5a4a4 } /* Comment.Multiline */
.highlight .cp { color: #a5a4a4 } /* Comment.Preproc */
.highlight .c1 { color: #a5a4a4 } /* Comment.Single */
.highlight .cs { color: #a5a4a4 } /* Comment.Special */
.highlight .gd { color: #7a3847 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #888280; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #726d35 } /* Generic.Inserted */
.highlight .gp { color: #443d31; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #456d5e; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #5c5566 } /* Keyword.Constant */
.highlight .kd { color: #635c6d } /* Keyword.Declaration */
.highlight .kn { color: #477061 } /* Keyword.Namespace */
.highlight .kp { color: #5e5668 } /* Keyword.Pseudo */
.highlight .kr { color: #575061 } /* Keyword.Reserved */
.highlight .kt { color: #7c5e42 } /* Keyword.Type */
.highlight .ld { color: #686330 } /* Literal.Date */
.highlight .m { color: #7c5242 } /* Literal.Number */
.highlight .s { color: #686331 } /* Literal.String */
.highlight .na { color: #4f6869 } /* Name.Attribute */
.highlight .nb { color: #7c7876 } /* Name.Builtin */
.highlight .nc { color: #85664a } /* Name.Class */
.highlight .no { color: #7c3947 } /* Name.Constant */
.highlight .nd { color: #476e5f } /* Name.Decorator */
.highlight .ni { color: #797371 } /* Name.Entity */
.highlight .ne { color: #7c3a48 } /* Name.Exception */
.highlight .nf { color: #526c6d } /* Name.Function */
.highlight .nl { color: #6e6a68 } /* Name.Label */
.highlight .nn { color: #856649 } /* Name.Namespace */
.highlight .nx { color: #5a7677 } /* Name.Other */
.highlight .py { color: #94908f } /* Name.Property */
.highlight .nt { color: #426457 } /* Name.Tag */
.highlight .nv { color: #6d313e } /* Name.Variable */
.highlight .ow { color: #466d5e } /* Operator.Word */
.highlight .w { color: #7e7a79 } /* Text.Whitespace */
.highlight .mf { color: #805545 } /* Literal.Number.Float */
.highlight .mh { color: #7e5242 } /* Literal.Number.Hex */
.highlight .mi { color: #835747 } /* Literal.Number.Integer */
.highlight .mo { color: #855747 } /* Literal.Number.Oct */
.highlight .sb { color: #757038 } /* Literal.String.Backtick */
.highlight .sc { color: #7a7775 } /* Literal.String.Char */
.highlight .sd { color: #443d31 } /* Literal.String.Doc */
.highlight .s2 { color: #666130 } /* Literal.String.Double */
.highlight .se { color: #754d3e } /* Literal.String.Escape */
.highlight .sh { color: #666130 } /* Literal.String.Heredoc */
.highlight .si { color: #724a3c } /* Literal.String.Interpol */
.highlight .sx { color: #64602f } /* Literal.String.Other */
.highlight .sr { color: #706b35 } /* Literal.String.Regex */
.highlight .s1 { color: #6d6834 } /* Literal.String.Single */
.highlight .ss { color: #726d35 } /* Literal.String.Symbol */
.highlight .bp { color: #838180 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #753644 } /* Name.Variable.Class */
.highlight .vg { color: #6e3340 } /* Name.Variable.Global */
.highlight .vi { color: #723542 } /* Name.Variable.Instance */
.highlight .il { color: #744a3b } /* Literal.Number.Integer.Long */
