---
layout: default
---

<div class="post">
  <div class="post-info">
    {% if page.date %}
      <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}

</div>
<script src="https://giscus.app/client.js"
        data-repo="vlaaad/vlaaad.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxNzg0NDQwOTk="
        data-category="Posts"
        data-category-id="DIC_kwDOCqLXQ84CA8ib"
        data-mapping="url"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>